<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="room.css" rel="stylesheet" />
    <script>
      const ROOM_ID = '<%= roomId %>';
    </script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script async src="https://docs.opencv.org/3.4/opencv.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>

    <script src="script.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/handpose"></script>
    <script src="fingerpose.js" defer></script>
    <title>AirBoard Room</title>
  </head>
  <body>
    <div id="extractCamArea"></div>
    <div id="videoarea">
      <div id="video-grid"></div>
    </div>
    <div id=buttonArea>
      <div>
        <img src="img/[크기변환]web-cam.png" alt="My Image">
        <button class="btn" id ='cam_button'>캠 끄기</button>
      </div>
      <div>
        <img src="img/[크기변환]microphone.png" alt="My Image">
        <button class="btn" id ='audio_button'>마이크 끄기</button>
      </div>
      <div>
        <img src="img/[크기변환]document.png" alt="My Image">
        <button class="btn" id ='display_button'>화면 공유</button>
      </div>
      <div>
        <img src="img/[크기변환]pencil.png" alt="My Image">
        <button class="btn" id ='camWrite_button'>캠 필기 켜기</button>
      </div>
      <div>
        <img src="img/[크기변환]hand.png" alt="My Image">
        <button class="btn" id ='gesture_button'>제스처 켜기</button>
      </div>
    </div>
    <div id= "test">
      <canvas class='whiteboard' id='<%= roomId %>'></canvas>
      <canvas class='cursor_whiteboard' id='cursorWhiteboard'></canvas>
      <canvas class='extract_cam' id='extractCam'></canvas>
      <div id="whiteboard_buttonArea"></div>
    </div>
    <div class="chatarea">
      <div id="info"></div>
      <div id="chatWindow"></div>
    </div>
    <div id="inputBox">
      <input id="chatInput" autocomplete="off" type="text" placeholder="메세지를 입력하세요">
      <button id="chatMessageSendBtn">전송</button>
    </div>
  </div>
  
  <video id="nocam__video">
    <source src="../img/nocam.mp4" type="video/mp4" />
  </video>
  <video id="hiddenVideo"></video>
  </body>
</html>