<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      const ROOM_ID = '<%= roomId %>';
    </script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>AirBoard Room</title>
    <style>
      body {
        background-color:#222a30;
      }
      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 180px);
        grid-auto-rows: 180px;
      }
      video {
        width: 160px;
        height: 120px;
        object-fit: cover;
        z-index: -1;
        position:relative;
      }
      user_box {
        width: 180px;
        height: 180px;
      }
      video_user_name {        
        background-color: #4e5559;
        display:block;
        color: white; width: 160px;
        text-align: center;
      }
      .video-box {
        width: 100%; overflow: hidden;margin: 0px auto; position: relative;
      }
      .whiteboard {
        background-color: white;
        display: block;
        width:100%;
        padding:0;
        border: 2px solid white;
      }
      .chatBox {
        background-color: #161b1f;
        margin-left:auto;
        display: block;
        width:20%;
        height:93%;
        position:absolute;
        top:0;left:0;right:0;bottom: 0;
      }
      .leftBox {
        float: left;
        width: 75%;
        height: 80%;
      }
      .footer {
        display: block;
      }
      #chatWindow {
        overflow:auto;
        height: 90%;
        top:0;
        bottom:3em;
      }
      #inputBox {
        background-color: #30383d;
        display: block;
        bottom:0;
        height: 10%;
        padding:.5em;
        margin-bottom:auto;
        border-top: 1px solid black;
      }
      .output__user {
        display: block;
        color:white;
        margin-left: 10px;
        font-size:15px;
      }
      #displayBox {
        position:absolute;
        margin-right: auto;
      }
      #userDisplay {
        width: 0px;
        height: 0px;
      }
      #info {
        color: white;
      }
      #nocam__video {
        width:0px;
        height:0px;
      }
    </style>
  </head>
  <body>
    <video id="nocam__video">
      <source src="../img/nocam.mp4" type="video/mp4" />
    </video>
    <div class='leftBox'>
      <div class="video-box">
        <div id="video-grid"></div>
        </div>
    <div id="displayBox"></div>
    <canvas class='whiteboard' id='<%= roomId %>'></canvas>
    </div>

    <div class="chatBox">
      <div id="info"></div>
      <div id="chatWindow"></div>
      <div id="inputBox">
      <input id="chatInput" type="text">
        <button id="chatMessageSendBtn">전송</button>
      </div>
    </div>
    <div class="footer"></div>
  </body>
</html>