<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="room.css" rel="stylesheet" />
    <script>
      const ROOM_ID = '<%= roomId %>';
    </script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script async src="https://docs.opencv.org/3.4/opencv.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>

    <script src="script.js" defer></script>
    <title>AirBoard Room</title>
  </head>
  <body>
    <div id="videoarea">
      <div id="video-grid"></div>
    </div>
    <div id="displayBox"></div>
    <canvas class='whiteboard' id='<%= roomId %>'></canvas>
    <div class="chatarea">
      <div id="info"></div>
      <div id="chatWindow"></div>
    </div>
    <div id="inputBox">
      <input id="chatInput" autocomplete="off" type="text" placeholder="메세지를 입력하세요">
      <button id="chatMessageSendBtn">전송</button>
    </div>
  </div>
  
  <video id="nocam__video">
    <source src="../img/nocam.mp4" type="video/mp4" />
  </video>
  </body>
</html>