<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate">
    <link href="room.css" rel="stylesheet" />
    <link rel="stylesheet" href="loading.css">
    <script>
      const ROOM_ID = '<%= roomId %>'
      var user_name = '<%= name %>'
      var user_email = '<%= email %>'
      var thu = [0,0,0,0]
      var ind = [0,0,0,0]
      var mid = [0,0,0,0]
      var rin = [0,0,0,0]
      var pin = [0,0,0,0]
    </script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script async src="https://docs.opencv.org/3.4/opencv.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>

    <script src="script.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/handpose"></script>
    <script src="fingerpose.js" defer></script>

    <link href="floatstyle.css" rel="stylesheet" />
    <script src="jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <script type="text/javascript" src="floatbuttonscript.js" defer></script>
    <title>AirBoard Room</title>
  </head>
  <body>
    <div class="loading">
      <div class="loader"></div>
    </div>
    <div class="center menu">
      <div id="myMenu"></div>
    </div>
    <div id="extractCamArea"></div>
    <div id="videoarea">
      <div id="video-grid"></div>
    </div>
    <div id=buttonArea>
      <div>
        <img src="img/web-cam.png" id='webc'alt="My Image">
        <button class="btn" id ='cam_button'>캠 끄기</button>
      </div>
      <div>
        <img src="img/microphone.png" id='micr'alt="My Image">
        <button class="btn" id ='audio_button'>마이크 끄기</button>
      </div>
      <div>
        <img src="img/document.png" id='docu'alt="My Image">
        <button class="btn" id ='display_button'>화면 공유</button>
      </div>
      <div>
        <img src="img/pencil.png" id='penc'alt="My Image">
        <button class="btn" id ='camWrite_button'>캠 필기 켜기</button>
      </div>
      <div>
        <img src="img/hand.png" id='hand'alt="My Image">
        <button class="btn" id ='gesture_button'>제스처 켜기</button>
      </div>
      <div>
        <button class="btn" id ='add_gesture_button'>제스처 불러오기</button>
      </div>
    </div>
    <div id= "airboard">
      <canvas class='whiteboard' id='<%= roomId %>'></canvas>
      <canvas class='cursor_whiteboard' id='cursorWhiteboard'></canvas>
      <canvas class='extract_cam' id='extractCam'></canvas>
      <div id="whiteboard_buttonArea"></div>
    </div>
    <div class="chatarea">
      <div id="info"></div>
      <div id="chatWindow"></div>
    </div>
    <div id="inputBox">
      <input id="chatInput" autocomplete="off" type="text" placeholder="메세지를 입력하세요">
      <button id="chatMessageSendBtn">전송</button>
    </div>
  </div>
  
  <video id="nocam__video">
    <source src="../img/nocam.mp4" type="video/mp4" />
  </video>
  <a href="" download id="download"></a>
  <canvas id='capture'></canvas>
  <video id="hiddenVideo"></video>
  </body>
</html>