<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate">
      <title>유저 목록</title>
    <style>
    </style>
  </head>
  <body>
      %
      <p style="display:none;">|</p>
    <script>
      function controlUser(userId, roomId, flag){
            const form=document.createElement('form')
            form.method='get'
            form.action="/controlUser/" + roomId + '/' + userId + '/' + flag
            const hiddenField=document.createElement('input')
            document.body.appendChild(form)
            form.submit()
        }
    </script>
  </body>
</html>