@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
    width:100%;
    height:100%;
}

body{
    background-color: #8cc9f0;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    overflow:hidden;
}

#video-grid {
    width:100%;
    height:100%;
    display: grid;
    background-color: white;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-rows: 160px;
    border-radius: 10px;
}

video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    object-fit: cover;
    z-index: 1;
    position:relative;
}

userBox {
    width: 160px;
    height: 160px;
}

videoUserName {        
    background-color: #8cc9f0;
    display:block;
    color: white; width: 160px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

videoBackground {
    background-color: black;
    display: block;
}

#buttonArea{
    height: 35px;
    width:79.8%;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    margin: 1px 5px 5px 5px;
    display:flex;
    justify-content: space-around;
}

#videoarea{
    box-shadow: 0px 0px 7px black;
    margin:5px 5px 2px 5px;
    width:79.8%;
    height: 140px;
    border-radius: 10px 10px 0px 0px;
    background-color: #ffffff;
}

.whiteboard{
    box-shadow: 0px 0px 7px black;
    position: absolute;
    z-index: 5;
    margin-left:5px;
    width: 79.8%;
    border-radius: 10px;
    padding:0;
    background-color: #ffffff;
}

.cursor_whiteboard{
    position: absolute;
    z-index: 6;
    margin-left:5px;
    width: 79.8%;
    border-radius: 10px;
    padding:0;
    background-color: transparent;
}
.extract_cam{
    position: absolute;
    z-index: 7;
    margin-left:5px;
    width: 79.8%;
    border-radius: 10px;
    padding:0;
    visibility: hidden;
}
#test {
    position: relative
}
.chatarea{
    box-shadow: 0px 0px 7px black;
    overflow:auto;
    white-space: normal;
    margin:5px;
    position:absolute;
    top:0;
    right:0;
    width:19%;
    height:89%;
    border-radius: 10px;
    background-color: #ffffff;
}

#chatWindow {
    overflow:auto;
    height: 89%;
}

#inputBox {
    box-shadow: 0px 0px 7px black;
    position:absolute;
    bottom:0;
    right:0;
    width:19%;
    border-radius: 10px;
    background-color: #ffffff;
    margin-right:5px;
    margin-bottom:15px;
    height: 7.1%;
    display:flex;
}
.output__user {
    display: block;
    color:black;
    margin-left: 10px;
    font-size:15px;
}
#displayBox {
    position:absolute;
    margin-right: auto;
}
#userDisplay {
    object-fit: fill;
    border-radius: 10px;
    margin-left: 5px;
    transform: rotateY(0deg);
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
}
#info {
    color: black;
    height:5%;
    padding-top:10px;
    text-align: center;
    font-weight: 800;
    border-bottom: 3px solid #8cc9f0;
}
#nocam__video {
    visibility: hidden;
}

.myMsg {
    text-align: right;
}

.anotherMsg {
    text-align: left;
    margin-bottom: 5px;
}

.msg {
    font-size:14px;
    display: inline-block;
    border-radius: 15px;
    padding: 7px 15px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right:8px;
    white-space:normal;
}

.anotherMsg > .msg {
    background-color: #f1f0f0;
}

.myMsg > .msg {
    background-color: #0084FF;
    color: #fff;
}

.anotherName {
    font-size: 12px;
    display: block;
}
.myName {
    font-size: 12px;
    display: block;
    margin-right:12px;
}
#chatInput {
    margin-left:5px;
    border-radius: 5px;
    width: 85%;
    height: calc(100% - 2px);
    border: none;
}

#chatInput:focus {    
    outline: none;
}

#chatMessageSendBtn{
    outline: none;
    border: none;
    background: none;
    color: #0084FF;
    font-size: 13px;
}

#chatWindow::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #f1f0f0;
}

#chatWindow::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background-color: #ced4da;
}

#chatWindow::-webkit-scrollbar-thumb:hover {
    background-color: #adb5bd;
}

#chatWindow::-webkit-scrollbar-track {
    background: #ffffff;
}

.btn{
    float:right;
    height:35px;
    border:none;
    margin-left:0px;
    background-color: rgba( 255, 255, 255, 0 );
}

image{
    float:left;
    width:35px;
    height:35px;
    margin-right:0px;
}

.selected-button-color{
    background-color:'white';
}
.btn{
    float:right;
    height:35px;
    border:none;
    background-color: white;
    display: block;
    position: relative;
    overflow: hidden;
    transition: all .2s ease-in-out .2s;
    margin: 0 auto;
    text-align: center;
}

.btn:hover {
    color: #8cc9f0;
}
.btn:hover:before {
    transform: none;
    opacity: 1;
    transition-duration: 0.4s;
}
.btn:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    margin-left:4px;
    margin-bottom:3px;
    left: 0;
    bottom: 0px;
    background: #8cc9f0;
    transform: translateY(6px);
    opacity: 0;
    transition: 1.8s cubic-bezier(0.2, 1, 0.3, 1);
    pointer-events: none;
}