@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

* { box-sizing: border-box; }


body { margin: 0px; }

h1{
  width:50%;
  margin:0 auto;
  padding-top:200px;
  color:white;
}

main{
  border-top:40px solid #222a30;
  border-bottom:40px solid #222a30;
}

header {
  background-color: #222a30;
  height: 720px;
  width:100%;
}

#content{
  height:600px;
  margin-top:0px;
}

/* Scroll Animation (sa, 스크롤 애니메이션) */
.sa {
  opacity: 0;
  transition: all .5s ease;
}

/* 아래에서 위로 페이드 인 */
.sa-up {
  transform: translate(0, 100px);
}
/* 위에서 아래로 페이드 인 */
.sa-down {
  transform: translate(0, -100px);
}
/* 왼쪽에서 오른쪽으로 페이드 인 */
.sa-right {
  transform: translate(-100px, 0);
}
/* 오른쪽에서 왼쪽으로 페이드 인 */
.sa-left {
  transform: translate(100px, 0);
}
/* 왼쪽으로 회전하면서 페이드 인 */
.sa-rotateL {
  transform: rotate(180deg);
}
/* 오른쪽으로 회전하면서 페이드 인 */
.sa-rotateR {
  transform: rotate(-180deg);
}
/* 작아진 상태에서 커지면서 페이드 인 */
.sa-scaleUp {
  transform: scale(.5);
}
/* 커진 상태에서 작아지면서 페이드 인 */
.sa-scaleDown {
  transform: scale(1.5);
}

.sa.show {
  opacity: 1;
  transform: none;
}

h1{
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
}