<!DOCTYPE HTML>
<html>
	<head>
		<title>AIRBOARD</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="google" content="notranslate">
		<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/slide.css" />
		<link rel="stylesheet" href="assets/css/input.css" />
	</head>
	<body>
		<div id="join_message">
			<b><%= name%></b><% if(!need_signup) {%>님 안녕하세요.<% } %>
		</div>
		<!-- Wrapper -->
			<div id="wrapper">
					<header id="header" class="alt">
						<span class="logo"><img id="mylogo" src="images/logo.png" alt="" /></span>
						<h1>AIRBOARD</h1>
					</header>

					<nav id="nav">
						<ul>
							<li><a href="#functions" class="active">서비스</a></li>
							<li><a href="#first">How to Use</a></li>
						</ul>
					</nav>

					<div id="main">
							<section id="functions" class="main special">
								<header class="major">
									<h2>AIRBOARD 서비스</h2>
								</header>
								<div class="subscribe-box">
									<form class="subscribe" action="/home/joinroom" method="POST">
										<input type="text" name="address" placeholder="회의 주소를 입력하세요" autocomplete="off" required="required" />
										<button type="submit"> 
											<span>회의 참가</span>
										</button>
									</form>
								</div>
								<div class="container">
									<% if(need_signup){ %>
									<div class="bx">
										<img src="images/create.jpg" onclick='needSignUp()' style="cursor:pointer">
										<span>회의 생성</span>
									</div>
									<% } else { %>
									<div class="bx">
										<img src="images/create.jpg" onclick='javascript:location.href="/home/newroom"' style="cursor:pointer">
										<span>회의 생성</span>
									</div>
									<% } %>
									<div class="bx">
										<img src="images/login.jpg" onclick='javascript:location.href="/home/<%=log_func%>"' style="cursor:pointer">
										<span><%= log_message%></span>
									</div>
									<% if(need_signup){ %>
									<div class="bx">
										<img src="images/signup.jpg" onclick='javascript:location.href="/home/signup"' style="cursor:pointer">
										<span>회원 가입</span>
									</div>
									<% } else { %>
									<div class="bx">
										<img src="images/account.jpg" onclick='javascript:location.href="/accInfo"' style="cursor:pointer"">
										<span>계정 정보</span>
									</div>
									<% } %>
									<% if(!need_signup){ %>
										<div class="bx">
											<img src="images/gesture.jpg" onclick='javascript:location.href="/newGes"' style="cursor:pointer">
											<span>제스처 추가</span>
										</div>
									<% } %>
									</div>
									<!-- <form action="/newGes" method="POST">
										<input type="submit" value="제스처 만들기">
									</form> -->
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>How to Use</h2>
								</header>
								<ul class="features">
									<li>
										<div style="color:#5CD1FF">
											<i class="fas fa-chalkboard-teacher fa-7x"></i>
										</div>
										<h3 style="margin-top:20px;">회의 참여</h3>
										<p>회의 참여는 회의 호스트가 공유한 주소를 브라우저 주소창에 붙여넣거나 서비스 탭에 있는 주소 입력창에 주소를 입력해 접속합니다.</p>
									</li>
									<li>
										<div style="color:#5CD1FF">
											<i class="fas fa-user-clock fa-7x"></i>
										</div>
										<h3 style="margin-top:20px;">사용 시간</h3>
										<p>사용 시간은 무료 사용자의 경우 30분, 플랜 결제 사용자는 무제한입니다. </p>
									</li>
								</ul>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>개발자 정보</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>경기도 용인시 기흥구 흥덕2로 126 708동 1002호</dd>
								<dt>Phone</dt>
								<dd>010-6449-5262</dd>
								<dt>Email</dt>
								<dd>rbtjr970525@gmail.com</dd>
							</dl>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script>
				function needSignUp()
				{
					swal({
						text:'로그인이 필요한 기능입니다.',
						icon:'error'
					})
				}
			</script>
	</body>
</html>

