<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Gesture</title>
    <style>
    </style>
  </head>
  <body>
    <label>Thumb:
        <select class="ThumbCurl" name="ThumbCurl">
            <option value="">선택하세요</option>
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="ThumbCurlNum" name="ThumbCurlNum">
            <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="ThumbDir" name="ThumbDir">
            <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="ThumbDirNum" name="ThumbDirNum">
            <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
    </label><br>
    <label>Index:
        <select class="IndexCurl" name="IndexCurl">
          <option value="">선택하세요</option> 
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="IndexCurlNum" name="IndexCurlNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="IndexDir" name="IndexDir">
          <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="IndexDirNum" name="IndexDirNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
    </label><br>
    <label>Middle:
        <select class="MiddleCurl" name="MiddleCurl">
          <option value="">선택하세요</option>
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="MiddleCurlNum" name="MiddleCurlNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="MiddleDir" name="MiddleDir">
          <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="MiddleDirNum" name="MiddleDirNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
    </label><br>
    <label>Ring:
        <select class="RingCurl" name="RingCurl">
          <option value="">선택하세요</option>
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="RingCurlNum" name="RingCurlNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="RingDir" name="RingDir">
          <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="RingDirNum" name="RingDirNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
    </label><br>
    <label>Pinky:
        <select class="PinkyCurl" name="PinkyCurl">
          <option value="">선택하세요</option>
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="PinkyCurlNum" name="PinkyCurlNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="PinkyDir" name="PinkyDir">
          <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="PinkyDirNum" name="PinkyDirNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <a href="/">TEST</a><br>
    </label><br>
    <script src="test.js" defer></script>
    <script src="fingerpose.js" ></script>
  </body>
</html>