<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="room.css" rel="stylesheet" />
    <script>
      const ROOM_ID = '<%= roomId %>';
    </script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script async src="https://docs.opencv.org/3.4/opencv.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>

    <script src="script.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/handpose"></script>
    <script src="fingerpose.js" defer></script>

    <link href="floatstyle.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>AirBoard Room</title>
  </head>
  <body>
    <div class="center menu">
      <div id="myMenu"></div>
    </div>
    <div id="extractCamArea"></div>
    <div id="videoarea">
      <div id="video-grid"></div>
    </div>
    <div id=buttonArea>
      <div>
        <img src="img/[크기변환]web-cam.png" id='webc'alt="My Image">
        <button class="btn" id ='cam_button'>캠 끄기</button>
      </div>
      <div>
        <img src="img/[크기변환]microphone.png" id='micr'alt="My Image">
        <button class="btn" id ='audio_button'>마이크 끄기</button>
      </div>
      <div>
        <img src="img/[크기변환]document.png" id='docu'alt="My Image">
        <button class="btn" id ='display_button'>화면 공유</button>
      </div>
      <div>
        <img src="img/[크기변환]pencil.png" id='penc'alt="My Image">
        <button class="btn" id ='camWrite_button'>캠 필기 켜기</button>
      </div>
      <div>
        <img src="img/[크기변환]hand.png" id='hand'alt="My Image">
        <button class="btn" id ='gesture_button'>제스처 켜기</button>
      </div>
      <!-- <div>
        <button class="btn" id ='gesture_custom_button' onclick="window.open('newGes/'+ROOM_ID,'window_name','width=1000,height=500,location=no,status=no,scrollbars=yes');">제스처 만들기</button>
      </div> -->
    </div>
    <div id= "test">
      <canvas class='whiteboard' id='<%= roomId %>'></canvas>
      <canvas class='cursor_whiteboard' id='cursorWhiteboard'></canvas>
      <canvas class='extract_cam' id='extractCam'></canvas>
      <div id="whiteboard_buttonArea"></div>
    </div>
    <div class="chatarea">
      <div id="info"></div>
      <label>Thumb:
        <select class="ThumbCurl" name="ThumbCurl">
            <option value="">선택하세요</option>
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="ThumbCurlNum" name="ThumbCurlNum">
            <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="ThumbDir" name="ThumbDir">
            <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="ThumbDirNum" name="ThumbDirNum">
            <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
    </label><br>
    <label>Index:
        <select class="IndexCurl" name="IndexCurl">
          <option value="">선택하세요</option> 
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="IndexCurlNum" name="IndexCurlNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="IndexDir" name="IndexDir">
          <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="IndexDirNum" name="IndexDirNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
    </label><br>
    <label>Middle:
        <select class="MiddleCurl" name="MiddleCurl">
          <option value="">선택하세요</option>
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="MiddleCurlNum" name="MiddleCurlNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="MiddleDir" name="MiddleDir">
          <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="MiddleDirNum" name="MiddleDirNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
    </label><br>
    <label>Ring:
        <select class="RingCurl" name="RingCurl">
          <option value="">선택하세요</option>
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="RingCurlNum" name="RingCurlNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="RingDir" name="RingDir">
          <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="RingDirNum" name="RingDirNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
    </label><br>
    <label>Pinky:
        <select class="PinkyCurl" name="PinkyCurl">
          <option value="">선택하세요</option>
            <option value="NoCurl">NoCurl</option>
            <option value="HalfCurl">HalfCurl</option>
            <option value="FullCurl">FullCurl</option>
        </select>
        <select class="PinkyCurlNum" name="PinkyCurlNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <select class="PinkyDir" name="PinkyDir">
          <option value="">선택하세요</option>
            <option value="1">00:00</option>
            <option value="2">01:30</option>
            <option value="3">03:00</option>
            <option value="4">04:30</option>
            <option value="5">06:00</option>
            <option value="6">07:30</option>
            <option value="7">09:00</option>
            <option value="8">10:30</option>
        </select>
        <select class="PinkyDirNum" name="PinkyDirNum">
          <option value="">선택하세요</option>
            <option value="1">0.25</option>
            <option value="2">0.5</option>
            <option value="3">0.75</option>
            <option value="4">1</option>
        </select>
        <button onclick="reload('fingerpose.js')">OK</button>
    </label><br>
      <div id="chatWindow"></div>
    </div>
    <div id="inputBox">
      <input id="chatInput" autocomplete="off" type="text" placeholder="메세지를 입력하세요">
      <button id="chatMessageSendBtn">전송</button>
    </div>
  </div>
  
  <video id="nocam__video">
    <source src="../img/nocam.mp4" type="video/mp4" />
  </video>
  <video id="hiddenVideo"></video>

  <script type="text/javascript" src="floatbuttonscript.js"></script>
  <script type="text/javascript" src="buttonscript.js"></script>
  </body>
</html>
