<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AirBoard</title>
    <style>
    </style>
  </head>
  <body>
    <a href="/">AirBoard</a><br>
    <form action="/newroom" id="new_room" method="GET">
        <input type="submit" value="새 회의">
    </form>
  </body>
</html>
